body  {
    padding-top: 60px;
    font-size: 12px;
}

a {
    outline: none;
    cursor: pointer;
}

/* icons */
[class^="icon-"] {
    text-decoration: none !important;
    color: #333;
}

.btn-success [class^="icon-"] {
    color: #fff;
}

/* forms */
.modal form {
    margin-bottom: 0;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea,
select {
    font-size: 13px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
    background: #fff;
}

textarea {
    max-height: 200px;
    resize: vertical;
}

input {
    outline: none;
}

/* widget */
.widget {
    margin-bottom: 2em;
}

.widget-heading {
    margin-bottom: 10px;
    border-bottom: 1px solid #C7C7C7;
}

.widget-heading[ng-click] {
    cursor: pointer;
}

.widget-title {
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.widget-heading .btn-group {
    margin-top: -2px;
}

.widget-content {
    color: #666;
    background: #fff;
}

/* user navigation */
#user-nav > ul > li {
    padding: 10px 0 0 10px;
    float: left;
    list-style: none;
    font-size: 1.1em;
}

#user-nav > ul > li > a {
    text-decoration: none;
    color: #333;
}

#user-nav > ul > li > a:hover,
#user-nav > ul > li > a:focus,
#user-nav > ul > li > a:active {
    color: #4183c4;
}

#user-nav .btn-group {
    margin-top: -5px;
}

/* calendar */
.fc-view {
    overflow: visible;
}

.past-event {
    zoom: 1;
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    filter: alpha(opacity=45);
    -khtml-opacity: .5;
    -moz-opacity: .5;
}

.fc-header-title h2 {
    font-size: 2em;
}

.mini-calendar .fc-grid .fc-day-content {
    display: none;
}

.mini-calendar .fc-grid .fc-day-number {
    float: none;
    text-align: center;
}

.mini-calendar .fc-content td {
    vertical-align: middle;
    cursor: pointer;
}

.mini-calendar .fc-content .fc-first,
.mini-calendar .fc-content .fc-first th{
    border-left: 0;
}

.mini-calendar .fc-content tr.fc-first th {
    border-top: 0;
}

.mini-calendar .fc-content .fc-last {
    border-right: 0;
}

.mini-calendar .fc-content td:hover,
.mini-calendar .fc-content td.on {
    color: #333;
    background: #8BD5F9;
}

.mini-calendar .fc-content td div {
    min-height: 0 !important;
}

.mini-calendar .fc-header-title h2 {
    font-size: 1em;
}

.mini-calendar .fc-header-left {
    display: none;
}

.mini-calendar .fc-header-center {
    text-align: left;
}

.mini-calendar .fc-border-separate th,
.mini-calendar .fc-border-separate td {
    width: 14.3%;
    border-left: 0;
}

.event-dates {
    margin-bottom: 3px;
}

.event-location {
    font-size: 85%;
    color: #999;
}

/* overrides for bootstrap and jquery UI */
label, input, button, select, textarea {
    font-size: 13px;
}

label input[type="radio"],
label input[type="checkbox"] {
    margin: 0;
}

.ui-widget {
    font-size: 1em;
}

.ui-datepicker{
    z-index: 9999 !important;
}

.popover {
    max-width: 300px;
}

/* dropdown */
a.dropdown-toggle {
    padding: 0.3em 0.5em;
    text-decoration: none;
    font-size: 85%;
    color: #333;
}

.widget a.dropdown-toggle:hover,
.widget a.dropdown-toggle:focus {
    background: #8BD5F9;
}

/* color picker */
.color-preview {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 11px;
    height: 11px;
    overflow: hidden;
    margin-right: 3px;
    vertical-align: middle;
}

.color-preview-inactive {
    width: 9px;
    height: 9px;
    border: 1px solid #999;
    background: #fff !important;
}

.color-preview input {
    visibility: hidden;
}

div.colorPicker-picker {
    display: -moz-inline-stack;
    display: inline-block;
    display: *inline;
    zoom: 1;
    height: 16px;
    width: 16px;
    padding: 0 !important;
    border: 1px solid #ccc;
    background: url("../img/arrow.gif") no-repeat top right;
    cursor: pointer;
    line-height: 16px;
}

div.colorPicker-palette {
    width: 110px;
    position: absolute;
    border: 1px solid #598FEF;
    background-color: #EFEFEF;
    padding: 2px;
    z-index: 9999;
}
div.colorPicker_hexWrap {width: 100%; float:left }
div.colorPicker_hexWrap label { float: left; font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    margin: 2px;
    float: left;
    cursor: pointer;
    line-height: 12px;
}

/* calendar listings */
/*.calendar-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 20em;
}*/

.calendar-list li {
    padding: 0 3px;
    margin: 0 -3px;
}

.calendar-list li:hover {
    background: #eee;
}

.calendar-list li .dropdown-toggle {
    visibility: hidden;
}

.calendar-list li:hover .dropdown-toggle,
.calendar-list .open .dropdown-toggle{
    visibility: visible;
}

/* loaders */
.feedback {
    width: 100%;
    top: 3em;
    left: 0;
    position: fixed;
    z-index: 100;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    height: 0;
}

.feedback-content {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.feedback-content .alert {
    margin: 0;
}

/* menus */
.menu a {
    display: block;
    padding: 0.15em 0;
    zoom: 1;
}

.menu a:hover,
.menu a:focus,
.menu a:active,
.menu .on a {
    color: #333;
}

/* login */
#login {
    width: 18em;
    padding-top: 8em;
    margin:  0 auto;
}