<form name="calendarSettingsForm" ng-controller="EventController">
    <div class="widget">
        <div class="widget-heading">
            <div class="widget-title">Calendar settings</div>
        </div>
        <div class="widget-content">
            <ol class="unstyled">
                <li>
                    <label for="calendar-name">Calendar name</label>
                    <input type="text" id="calendar-name" name="calendar-name" class="input-block-level" required ng-model="dataCache.tempCalendar.summary" />
                </li>
                <li>
                    <label for="calendar-owner">Calendar owner</label>
                    <input type="text" id="calendar-owner" name="calendar-owner" class="input-block-level" ng-model="dataCache.tempCalendar.owner" disabled />
                </li>
                <li>
                    <label for="calendar-organization">Organization</label>
                    <input type="text" id="calendar-organization" name="calendar-organization" class="input-block-level" ng-model="dataCache.tempCalendar.organization" disabled />
                </li>
                <li>
                    <label for="calendar-description">Description</label>
                    <textarea id="calendar-description" name="calendar-description" class="input-block-level" ng-model="dataCache.tempCalendar.description"></textarea>
                </li>
                <li>
                    <label for="calendar-location">Location</label>
                    <input type="text" id="calendar-location" name="calendar-location" class="input-block-level" />
                    <label for="calendar-location">
                        <small>e.g. "San Francisco" or "New York" or "USA." Specifying a general location will help people find events on your calendar (if it's public)</small>
                    </label>
                </li>
            </ol>
            <button type="submit" class="btn btn-success" ng-disabled="calendarSettingsForm.$invalid" ng-click="saveCalendar()"><i class="icon-save"></i> Save</button>
            <a href="#/" ng-click="resetCalendar()" class="btn"><i class="icon-undo"></i> Cancel</a>
        </div>
    </div>
</form>