<!--sidebar-->
<aside id="sidebar" class="span2">
    <div class="widget">
        <div class="widget-content">
            <div class="btn-group">
                <button class="btn btn-success"> Create New </button>
                <button data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Event</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="widget-heading">
            <div class="widget-title">Mini calendar</div>
        </div>
        <div class="widget-content">
            <div ui-calendar="miniCalendar" class="mini-calendar" ng-model="eventSources"></div>
        </div>
    </div>

    <div class="widget calendar-listing" ng-controller="CalendarController">
        <div class="widget-heading">
            <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-href="#/calendar/create">Create new calendar</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="widget-title">My calendars</div>
        </div>
        <div class="widget-content">
            <ul class="unstyled" ng-show="dataCache.CalendarList.items.length">
                <li ng-repeat="calendar in dataCache.CalendarList.items">
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/calendar/{{calendar.id | encodeURIComponent}}/settings" ng-click="setCurrentCalendar()">Calendar settings</a>
                            </li>
                            <li>
                                <a href="">Display only this calendar</a>
                            </li>
                            <li>
                                <a href="">Hide this calendar from the list</a>
                            </li>
                            <li ng-show="{{calendar.accessRole == 'owner'}}">
                                <a href="">Share this calendar</a>
                            </li>
                            <li ng-show="{{calendar.accessRole == 'owner'}}">
                                <a href="">Create an event on this calendar</a>
                            </li>
                            <li ng-show="{{calendar.accessRole == 'owner'}}">
                                <input type="text" class="color-preview" ng-change="colorPickerTest()" color-picker="calendar.backgroundColor" ng-model="calendar.backgroundColor" />
                            </li>
                        </ul>
                    </div>

                    <label>
                        <span ng-class="{'color-preview': true, 'color-preview-inactive': !calendar.selected}" style="background-color:{{calendar.backgroundColor}}">
                            <input type="checkbox" value="{{calendar.id}}" ng-change="updateActiveCalendars()" ng-model="calendar.selected" />
                        </span>
                        {{calendar.summary}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--/sidebar-->

<!--content-->
<div id="content" class="span10">
    <div ng-controller="EventController">
        <div ui-calendar="extendedCalendar" class="calendar" ng-model="eventSources"></div>
    </div>
</div>
<!--/content-->