<!--sidebar-->
<aside id="sidebar" class="span2">
    <div class="boxed-group">
        <div class="boxed-group-heading">
            Mini calendar
        </div>
        <div class="boxed-group-content">
            <div ui-calendar="miniCalendar" class="mini-calendar" ng-model="eventSources"></div>
        </div>
    </div>

    <div class="boxed-group calendar-listing">
        <div class="boxed-group-heading">
            My calendars
            <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Create new calendar</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
        </div>
        <div class="boxed-group-content">
            <ul class="unstyled" ng-show="eventsCache.length">
                <li ng-repeat="source in eventsCache">
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create new calendar</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>

                    <label>
                        <input type="checkbox" ng-model="source.state" ng-change="addRemoveEventSource(eventSources, source)" />
                        {{source.title}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="boxed-group calendar-listing">
        <div class="boxed-group-heading">
            Other calendars
            <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Add coworker's calendar</a></li>
                    <li><a href="#">Add by URL</a></li>
                    <li><a href="#">Import calendar</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
        </div>
        <div class="boxed-group-content">
            <ul class="unstyled" ng-show="eventsCache.length">
                <li ng-repeat="source in eventsCache">
                    <label>
                        <input type="checkbox" ng-model="source.state" ng-change="addRemoveEventSource(eventSources, source)" />
                        {{source.title}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--/sidebar-->

<!--content-->
<div id="content" class="span10" ng-controller="EventController">
    <div ui-calendar="uiConfig.fullCalendar" class="calendar" ng-model="eventSources"></div>
</div>
<!--/content-->
