<form id="login" name="loginForm" novalidate ng-submit="login()" ng-controller="UserController">
    <fieldset>
        <legend>Login</legend>
        <ol class="list-unstyled">
            <li class="form-group">
                <label for="username" class="hidden">User</label>
                <input type="email" id="username" class="form-control" placeholder="user@example.com" required ng-model="loginData.user" />
            </li>
            <li class="form-group">
                <label for="password" class="hidden">Password</label>
                <input type="password" id="password" class="form-control" placeholder="password" required ng-model="loginData.password" />
            </li>
        </ol>
        <button type="submit" class="btn" ng-disabled="loginForm.$invalid">Log In</button>
    </fieldset>
</form>