<div ng-controller="SettingsController">
    <!--sidebar-->
    <aside id="sidebar" class="span2">
        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">
                    <i class="icon-user"></i>
                    <span ng-bind="data.user.firstName + ' ' + data.user.lastName"></span>
                </div>
            </div>
            <div class="widget-content">
                <ul class="unstyled menu">
                    <li>
                        <a href="#/settings">General</a>
                    </li>
                    <li>
                        <a href="#/settings/profile">Profile</a>
                    </li>
                    <li>
                        <a href="#/settings/account">Account</a>
                    </li>
                    <li class="on">
                        <a href="#/settings/emails">Emails</a>
                    </li>
                    <li>
                        <a href="#/settings/organizations">Organizations</a>
                    </li>
                    <li>
                        <a href="#/settings/calendars">Calendars</a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <!--/sidebar-->

    <!--content-->
    <div id="content" class="span10">
        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">Emails</div>
            </div>
            <div class="widget-content">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <span ng-bind="data.user.email"></span>
                                <span class="label label-success">Default</span>
                            </td>
                            <td class="text-right">&nbsp;</td>
                        </tr>
                        <tr ng-repeat="email in data.settings.emails">
                            <td>
                                <span ng-bind="email"></span>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-small btn-danger" ng-click="deleteEmail()">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <form name="emailSettingsForm" ng-submit="addEmail()" novalidate>
            <label for="user-email">Add another email address</label>
            <div class="input-append">
                <input type="email" id="user-email" name="user-email" ng-model="data.settings.newEmail" required />
                <button type="submit" class="btn" ng-disabled="emailSettingsForm.$invalid">Add</button>
            </div>
        </form>
    </div>
    <!--/content-->
</div>