<div ng-controller="CalendarController">
    <!--sidebar-->
    <aside id="sidebar" class="span2">
        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">
                    <i class="icon-user"></i>
                    <span ng-bind="data.user.firstName + ' ' + data.user.lastName"></span>
                </div>
            </div>
            <div class="widget-content">
                <ul class="unstyled menu">
                    <li>
                        <a href="/#/settings">General</a>
                    </li>
                    <li>
                        <a href="/#/settings/profile">Profile</a>
                    </li>
                    <li>
                        <a href="/#/settings/account">Account</a>
                    </li>
                    <li>
                        <a href="/#/settings/emails">Emails</a>
                    </li>
                    <li>
                        <a href="/#/settings/organizations">Organizations</a>
                    </li>
                    <li class="on">
                        <a href="/#/settings/calendars">Calendars</a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <!--/sidebar-->

    <!--main content-->
    <div id="main-content" class="span10">
        <form name="calendarsSettingsForm">
            <!--personal calendars-->
            <div class="widget" ng-show="data.calendarList[0].calendars.length">
                <div class="widget-heading">
                    <div class="widget-title">My Calendars <small>Calendars I can view and modify</small></div>
                </div>
                <div class="widget-content">
                    <table class="table">
                        <colgroup>
                            <col width="40%" />
                            <col width="10%" />
                            <col width="20%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Calendar</th>
                            <th>Show in list</th>
                            <th>Notifications</th>
                            <th>Sharing</th>
                            <th>Subscription</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="calendar in data.calendarList[0].calendars">
                            <td>
                                <a ng-href="#/calendar/{{calendar.id | encodeURIComponent}}/settings" ng-click="setCalendar()">
                                    <i class="icon-calendar"></i>
                                    {{calendar.summary}}
                                </a>
                                <div>{{calendar.description}}</div>
                            </td>
                            <td>
                                <input type="checkbox" value="{{calendar.id}}" ng-model="calendar.selected" ng-disabled="calendar.primary" />
                            </td>
                            <td>
                                <a ng-href="#/calendar/{{calendar.id | encodeURIComponent}}/settings" ng-click="setCalendar()">Reminders and notifications</a>
                            </td>
                            <td>
                                <a ng-href="#/calendar/{{calendar.id | encodeURIComponent}}/settings" ng-click="setCalendar()">Edit settings</a>
                            </td>
                            <td>
                                <a ng-click="unsubscribe()">Unsubscribe</a>
                            </td>
                            <td>
                                <a ng-click="deleteCalendar()" title="Delete">
                                    <i class="icon-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/personal calendars-->

            <!--calendar subscriptions-->
            <div class="widget" ng-show="data.calendarList[1].calendars.length">
                <div class="widget-heading">
                    <div class="widget-title">Other Calendars <small>Calendars I can only view</small></div>
                </div>
                <div class="widget-content">
                    <table class="table">
                        <colgroup>
                            <col width="40%" />
                            <col width="10%" />
                            <col width="40%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Calendar</th>
                            <th>Show in list</th>
                            <th>Notifications</th>
                            <th>Subscription</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="calendar in data.calendarList[1].calendars">
                            <td>
                                <a ng-href="#/calendar/{{calendar.id | encodeURIComponent}}/settings" ng-click="setCalendar()">
                                    <i class="icon-calendar"></i>
                                    {{calendar.summary}}
                                </a>
                                <div>{{calendar.description}}</div>
                            </td>
                            <td>
                                <input type="checkbox" value="{{calendar.id}}" ng-model="calendar.selected" />
                            </td>
                            <td>
                                <a ng-href="">Reminders and notifications</a>
                            </td>
                            <td>
                                <a ng-click="unsubscribe()">Unsubscribe</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/calendar subscriptions-->

            <a href="#/" class="btn">Back</a>
        </form>
    </div>
    <!--/main content-->
</div>