<div ng-controller="SettingsController">
    <!--sidebar-->
    <aside id="sidebar" class="span2">
        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">
                    <i class="icon-user"></i>
                    <span ng-bind="data.user.firstName + ' ' + data.user.lastName"></span>
                </div>
            </div>
            <div class="widget-content">
                <ul class="unstyled menu">
                    <li>
                        <a href="/#/settings">General</a>
                    </li>
                    <li>
                        <a href="/#/settings/profile">Profile</a>
                    </li>
                    <li class="on">
                        <a href="/#/settings/account">Account</a>
                    </li>
                    <li>
                        <a href="/#/settings/emails">Emails</a>
                    </li>
                    <li>
                        <a href="/#/settings/organizations">Organizations</a>
                    </li>
                    <li>
                        <a href="/#/settings/calendars">Calendars</a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <!--/sidebar-->

    <!--content-->
    <div id="content" class="span10">
        <!--account settings-->
        <form name="accountSettingsForm">
            <div id="account-settings" class="widget">
                <div class="widget-heading">
                    <div class="widget-title">Change password</div>
                </div>
                <div class="widget-content">
                    <ol class="unstyled">
                        <li>
                            <label for="old-password">Old password</label>
                            <input type="password" id="old-password" name="old-password" class="input-xxlarge" required ng-model="settings.oldPassword" />
                        </li>
                        <li>
                            <label for="new-password">New password</label>
                            <input type="password" id="new-password" name="new-password" class="input-xxlarge" required  ng-model="settings.newPassword" />
                        </li>
                        <li>
                            <label for="confirm-password">Confirm password</label>
                            <input type="password" id="confirm-password" name="confirm-password" class="input-xxlarge" required  ng-model="settings.confirmPassword" />
                        </li>
                    </ol>
                    <button type="submit" class="btn btn-success" ng-disabled="accountSettingsForm.$invalid"><i class="icon-save"></i> Save</button>
                    <button type="reset" class="btn"><i class="icon-undo"></i> Cancel</button>
                </div>
            </div>
        </form>
        <!--/account settings-->
    </div>
    <!--/content-->
</div>